{
    "donors": [
        {
            "_id": "5a84d417d52d2d22b480d0e0",
            "updatedAt": "2018-02-15T00:28:08.184Z",
            "createdAt": "2018-02-15T00:28:08.184Z",
            "amount": 1000,
            "frequency": "monthly",
            "honor_name": "",
            "honor_comment": "",
            "first_name": "Fernando",
            "last_name": "Bandeira",
            "email": "fernando@test.com",
            "phone": "(123) 123-1234",
            "card_number": "1234 1234 1234 1234",
            "cvv": "123",
            "expiration": "12/19",
            "_version": 0,
            "receive_updates": false,
            "anonymous": false,
            "honor": false
        }
    ]
}